.ghost-card-block {
    padding-top: 50px;
    width: 1200px;
    background-color: rgba(11, 11, 11, .6);
    margin: auto;
}

.ghost-card-contents {
    width: 1100px;
    padding-top: 20px;
    margin-left: auto;
}

.card {
    width: 960px;
    margin:auto;
    padding-bottom: 50px;
    background: url(/img/decorate/background_image.jpg);
}

.card h1 {
    text-align: center;
    margin: 50px auto;
}

.bread {
    color: #ccc;
    padding-top: 30px;
    margin-bottom: 80px;
    margin-left: 20px;
}

.bread a {
    text-decoration: none;
    color: #33ccff;
    margin: 5px;
}

.card-info-content {
    margin: auto;
    width: 100%;
    display: flex;
    justify-content: flex-start;
}

.card-info-content .card-img {
    overflow: hidden;
    width: 300px;
    margin: auto 60px;
    margin-left: 150px;
    position: relative;

}

.card-info-content .card-img img {
    border-radius: 10px;
    width: 100%;
    vertical-align: top;
}
.card-info-content .card-img::before{
    content: '日本';
    position: absolute;
    font-size: 20px;
    top: 10px;left: -15px;
    width: 80px;
    height: 30px;
    text-align: center;
    background-color: #AD2831;
    color: #fff;
    transform: rotateZ(-40deg);
}

.card-info {
    color: #ccc;
    margin-right: 100px;
}
.card-info h2{
    font-size: 25px;
    margin: 3px;
}
.card-info h2:nth-of-type(1){
    width: 350px;
}
.card-info span{
    font-size: 20px;
}
.card-info div{
    margin: auto;
}
.card-info div a{
    margin: auto;
    margin-right: 20px;
}
.card-info a{
    text-decoration: none;
    color: #fff;
    padding: 5px 15px;
    margin-right: 50px;
    background-color: #706C61;
    border-radius: 5px;
    font-size: 24px;
}
.card-info a:hover{
    background-color: #8D99AE;
}





.other {
    width: 1000px;
    margin: 50px auto;
    padding-bottom: 30px;
}
.other h1 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 24px;
    color: #ccc;
    margin: 30px auto;
    margin-bottom: 20px;
}
.other-pic{
    display: flex;
    padding-bottom: 25px;
}
.other-pic li a img {
    width: 150px;
    margin: 10px 30px auto auto;    
}

.other-pic li a img:hover{
    transition: all .5s;
    transform: translateY(-10px);
    box-shadow: #76949F;
}




@media screen and (max-width:768px) {
    .ghost-card-block{
        width: 100%;
    }
    .ghost-card-contents{
        width: 100%;
    }
    .card{
        padding-top: 50px;
        width: 100%;
    }
    .card-info-content{
        width: 100%;
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .card-info-content .card-img{
        width: 100%;
        margin: auto;
        text-align: center;
    }
    .card-info-content .card-img::before{
        display: none;
    }

    .card-info-content .card-img img{
        width: 200px;
        margin: 20px auto;
        text-align: center;
    }
    .card-info h2, .card-info span{
        text-align: center;
        font-size: 20px;
        margin: auto;
    }
    .card-info{
        margin: auto;
        width: 100%;
        text-align: center;
        display: flex;
        flex-direction: column;
    }
    .card-info div{
        width: 250px;
        margin: auto;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .card-info div a{
        margin: auto;
        font-size: 15px;
    }
    .other{
        width: 100%;
    }
    .other-pic{
        padding: 0;
    }
    .other-pic li{
        width: 25%;
    }
    .other-pic li a img{
        box-sizing: border-box;
        width: 100%;
        margin: 0;
        padding: 10px;
    }
    .card-info h2:nth-of-type(4){
        display: flex;
        justify-content: center;
    }
}