main {
    width: 1200px;
    margin: auto;
}

main h1 {
    width: 1200px;
    margin: 50px auto;
    text-align: center;
}

.map_block {
    width: 100%;
    margin: auto;
}
.map_block ul li{
    display: inline-block;
    list-style: none;
    color: #ccc;
    font-size: 25px;
    margin-right: 10px;
}
.map_block ul {
    margin: auto;
    text-align: center;
    margin-bottom: 50px;
}
.map_block ul:hover{
    cursor: pointer;
}
.map_block ul li:hover{
    padding-bottom: 10px;
    border-bottom: 2px solid #ccc;
}
.map_block ul li:nth-of-type(1){
    padding-bottom: 10px;
    border-bottom: 2px solid #ccc;
}
.map{
    width: 1100px;height: 10px;
    margin-left:auto;
    background: no-repeat;
    background-image: url(../img/decorate/map_japan.png) ;
    position: relative;
    transition: all .8s;
}
.xy:nth-of-type(1){
    display: none;
    width: 10px;height: 10px;
    background-color: red;
    border-radius: 50%;
    position: absolute;
    left: 860px;
    top: 680px;
    position: relative;
    animation:  2s xy ;
    cursor: pointer;
}
.xy:nth-of-type(2){
    display: none;
    width: 10px;height: 10px;
    background-color: red;
    border-radius: 50%;
    position: absolute;
    left: 220px;
    top: 840px;
    position: relative;
    animation:  2s xy ;
    cursor: pointer;
}
@keyframes xy{
    from{
        transform: scale(1);
    }
    50%{
        transform: scale(1.5);
    }
    to{
        transform: scale(1);
    }
}
.xy:hover{
    transform: scale(1.5);
}

.xy:nth-of-type(1):hover::after{
    width: 100px;
    position:absolute;
    bottom: 15px;
    left: 10px;
    padding: 10px;
    border-radius: 10px;
    content: '日本青木原樹海自殺森林';
    color: fff;
    background-color: #ccc;
    text-align: center;
}
.xy:nth-of-type(2):hover::after{
    width: 100px;
    position:absolute;
    bottom: 15px;
    left: 10px;
    padding: 10px;
    border-radius: 10px;
    content: '犬鳴隧道';
    color: fff;
    background-color: #ccc;
    text-align: center;
}


.info:nth-of-type(3){
    transition: all .8s;
    display: none;
}

main .info {
    margin: 50px 0 100px auto;
    width: 1100px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .8s;
}
.info-img {
    width: 350px;
}
.info-img p{
    color: #ccc;
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 10px;
    display: flex;
}
.info-img img {
    width: 100%;
    vertical-align: top;
    border-radius: 10px;
}
.info-txt {
    margin-top: 50px;
    width: 500px;
    margin-left: 100px;
    color: #ccc;
}
.info-txt div{
    margin-top: 30px;
    display: flex;
    justify-content: space-evenly;
}
.info-txt a{
    padding: 5px 10px;
    background-color: #706C61;
    color: #ccc;
    text-decoration: none;
    margin-right:10px ;
    border-radius: 5px;
    cursor: pointer;
}
.info-txt a:hover{
    color: #ccc;
    background-color: #8D99AE;
}
.info-txt h2 span{
    font-size: 20px;
}
.info-txt h2:nth-of-type(3) span{
    font-size: 20px;
}
.info-txt h2:nth-of-type(2){
    display: flex;
    align-items: center;
    margin: 10px auto;
}

.place-vedio-block {
    padding-top: 50px;
    padding-bottom: 50px;
    width: 1200px;
    margin: auto auto 50px;
    display: flex;
    justify-content: center;
    background-color: rgba(11, 11, 11, .6);
    border-radius: 10px;
}
.place-vedio-block h1{
    text-align: center;
}
.place-vedio-info {
    width: 400px;
    margin: auto;
    margin: auto -50px auto auto;
}
.place-vedio-block:nth-of-type(3){
    display: none;
}


.place-vedio-info p {
    color: #ccc;
    margin: 30px auto;
    font-size: 24px;
}

.place-vedio {
    margin: auto;
    width: 450px;
}
.place-vedio iframe{
    border-radius: 20px;
}

.place-vedio img {
    width: 100%;
    vertical-align: top;
}

@media screen and (max-width:768px) {
    main{
        width: 100%;
        margin: auto;
    }
    main h1{
        width: 100%;
    }
    .map_block{
        width: 100%;
        margin: auto;
    }
    #map{
        width: 100%;
        display: none;
    }
    main .info{
        width: 100%;
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        padding: 0;
        margin: 0;
        transition: all .8s;
    }
    .info img{
        margin: 50px auto;
    }
    .info-txt{
        width: 100%;
        margin: auto;
        padding-right: 10px;
        padding-left: 10px;
        box-sizing: border-box;
    }
    .info-txt h2:nth-of-type(1){
        width: 100%;
        display: flex;

    }
    .info-txt h2 img{
        margin: auto;
    }
    .info-txt div{
        width: 100%;
    }
    .place-vedio-block{
        margin-top: 50px;
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .place-vedio-info{
        padding-left: 10px;
        padding-right: 10px;
        box-sizing: border-box;
        width: 100%;
        margin: auto;
    }
    .place-vedio{
        width: 100%;
    }
    .place-vedio iframe{
        width: 100%;
    }
}