.read-block{
    width: 1200px;
    background-color: rgba(11, 11, 11, .6);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.read-contents{
    padding-top: 50px;
    width: 1100px;
    margin-left: auto;
    background-color: transparent;
}

.bread{
    margin: auto 50px;
}
.bread a {
    text-decoration: none;
    color: #33ccff;
}
.bread span{
    color: #ccc;
    margin: auto 10px;
}
.read-content{
    margin: 50px auto;
}
.read-content header{
    padding: 10px 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: rgba(44, 44, 44, .6);
    color: #ccc;
    text-align: center;
    display: flex;
    align-items: center;
}
.read-content header h3{
    flex-grow: 2;
    font-size: 20px;
}
.read-content header span{
    flex-grow: 1;
    font-size: 18px;
}
.read-body{
    background-color: rgba(22, 22, 22, .6);
    width: 100%;
    margin: auto;
    padding-top: 50px;
    padding-bottom: 50px;
}
.read-txt{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    margin: auto;
    width: 900px;
    color: #ccc;
}
.read-txt p{
   line-height: 2em;
   margin: 20px 60px;
}
.url-source{
    width: 1100px;
    margin: 20px auto 0;
}

.url-source a{
    float: right;
    color: #33ccff;
    text-decoration: none;
    margin-right: 60px;
}
.url-source a:hover{
    text-decoration: underline;
}

.interest-block{
    background-color: rgba(11, 11, 11, .6);
    margin-bottom: 50px;
    border-radius: 10px;
}
.interest-block h2{
    color: #ccc;
    text-align: center;
    padding: 10px;
    background-color: rgba(44, 44, 44, .6);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.interest-contents{
    background-color: rgba(22, 22, 22, .6);
}
.interest-contents .content{
    padding: 15px;
    color: #ccc;
    border-bottom: 1px dashed #ccc;
}
.interest-contents .content:last-child{
    border-bottom: none;
}
.interest-contents .content a{
    text-decoration: none;
    color:#33ccff; 
    line-height: 1.5em;
}
.interest-contents .content a:hover{
    text-decoration: underline;
}
.interest-contents .content span:nth-of-type(2){
    float: right;
}



.read-ans{
    width: 1100px;
    margin-left: auto;
    background-color: rgba(11, 11, 11, .6);
    border-radius: 10px;
    margin-bottom: 50px;
    display: flex;
}
.people{
    background-color: rgba(77, 77, 77, .6);
    padding-top: 20px;
    padding-bottom: 20px;
    width: 220px;
    text-align: center;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.people p{
    color: #33ccff;
    padding-bottom: 20px;
    border-bottom: 1px dashed #ccc;
}
.people img{
    width: 120px;
    margin: 20px auto;
    vertical-align: top;
}
.ans-contents{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    flex-grow: 1;
    background-color: rgba(44, 44, 44, .6);
}
.ans-contents p:nth-of-type(1){
    color: #ccc;
    padding-bottom: 20px;
    border-bottom: 1px dashed #ccc;
    margin: auto 20px;
}
.ans-contents p:nth-of-type(1)::before{
    content: '';
    display: inline-block;
    background-image: url(../img/decorate/admin.gif);
    height: 16px;
    width: 16px;
    margin-right: 10px;
    vertical-align: middle;
    position: relative;
    top: -3px;
}
.ans-contents p:nth-of-type(2){
    color: #ccc;
    margin: 20px 20px;
}
.read-ans .people span{
    color: #33ccff;
    float: right;
}
.read-ans .people span:hover{
    cursor: pointer;
}







@media screen and (max-width:768px) {
    .read-contents{
        width: 100%;
    }
    .read-block{
        width: 100%;
    }
    .read-contents{
        width: 100%;
        margin: auto;
    }
    .bread{
        width: 100%;
        margin: auto;
        box-sizing: border-box;
        padding-left: 10px;
    }
    .read-content header h3{
        font-size: 18px;

    }
    .read-content header{
        border-radius: 0px;
    }
    .read-content span{
        display: none;
    }
    .read-body{
        width: 100%;
    }
    .read-txt{
        width: 100%;
    }
    .url-source{
        width: 100%;
    }
    .url-source a{
        margin-right: 10px;
    }
    .read-body .read-txt{
        box-sizing: border-box;
        padding-right: 15px;
        padding-left: 15px;
    }
    .read-body .read-txt p{
        text-indent: 2em;
        font: 20px;
        width: 100%;
        margin: 30px auto;
    }
    .interest-block h2{
        font-size: 20px;
    }
    .interest-block a{
        font-size: 14px;
    }
    .interest-block span{
        font-size: 16px;
    }
    .interest-block a{
        font-size: 16px;
    }
    .interest-block span{
        font-size: 14px;
    }
    .interest-contents .content span:nth-of-type(2){
        display: none;
    }
    .people{
        width: 100%;
        border-radius: 0;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .people span{
        box-sizing: border-box;
        padding-right: 10px;
    }
    .read-ans{
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-bottom: 50px;
    }
    .ans-contents{
        border-radius: 0;
    }

}